body{
    background-color: darkgoldenrod;
    font-family: 'comic-sans';
    color: black;
}

h1 {
    text-align: center;
    font-size: 48px;
}

img {
    border-radius: 15px;
}

li {
    list-style-type: square;
}